/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
img {
  max-width: 100%;
  height: auto;
  display: block;
}
/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
@font-face {
  font-family: 'Circe Rounded';
  src: url('../../fonts/CirceRounded-Regular4.woff2') format('woff2'), url('../../fonts/CirceRounded-Regular4.woff') format('woff');
}
@font-face {
  font-family: 'Circe Rounded5';
  src: url('../../fonts/CirceRounded-Regular5.woff2') format('woff2'), url('../../fonts/CirceRounded-Regular5.woff') format('woff');
}
html {
  font-size: 16px;
}
body {
  font-family: "Circe Rounded5";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
}
h1 {
  font-family: "Circe Rounded";
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 64px;
}
h2 {
  font-family: "Circe Rounded";
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 64px;
}
h3 {
  font-family: "Circe Rounded";
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 100%;
}
h4 {
  font-family: "Circe Rounded";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 130%;
}
h5 {
  font-family: "Circe Rounded";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
}
.subheader {
  font-family: "Circe Rounded";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 130%;
}
body {
  max-width: 1920px;
}
.container {
  max-width: 58%;
  margin: 0 auto;
}
.bd {
  border: 1px solid #ccc;
}
@media (min-width: 1170px) and (max-width: 1700px) {
  .container {
    max-width: 80%;
  }
}
.main-header {
  background-color: #6D3EA2;
  background-image: url(../../img/BG_intro.jpg);
  background-size: cover;
}
.main-header .main-header_top-block {
  position: relative;
  min-height: 64px;
  background-color: #2d0061;
  color: #ffffff;
}
.main-header .main-header_top-block .top-block_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1.1875rem 0;
}
.main-header .main-header_top-block .top-block_wrapper .header-logo {
  position: absolute;
  left: 0;
  bottom: 10px;
  padding-left: 2rem;
}
.main-header .main-header_top-block .top-block_wrapper .header-nav {
  display: flex;
}
.main-header .main-header_top-block .top-block_wrapper .header-nav .header-nav_list {
  display: flex;
}
.main-header .main-header_top-block .top-block_wrapper .header-nav .header-nav_list .header-nav_list-item {
  position: relative;
  margin-right: 1.3rem;
}
.main-header .main-header_top-block .top-block_wrapper .header-nav .header-nav_list .header-nav_list-item::after {
  display: block;
  content: "";
  width: 0%;
  height: 1px;
  background-color: #ffffff;
  transition: 1.3s;
}
.main-header .main-header_top-block .top-block_wrapper .header-nav .header-nav_list .header-nav_list-item .header-nav_list-item-link {
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
}
.main-header .main-header_top-block .top-block_wrapper .header-nav .header-nav_list :hover.header-nav_list-item::after {
  width: 100%;
}
.main-header .main-header_top-block .top-block_wrapper .header-nav .header-nav_btn {
  position: relative;
  padding-left: 40px;
  padding-top: 3px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
  background-color: transparent;
  color: #FFE197;
  border: none;
}
.main-header .main-header_top-block .top-block_wrapper .header-nav .header-nav_btn::before {
  position: absolute;
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  left: 5px;
  top: 0;
  background-image: url(../../img/sprite/sprite-9aaabdc7.svg);
  background-position: -20px -88px;
}
.main-header .main-header_top-block .top-block_wrapper .header-nav .header-nav_btn::after {
  display: block;
  content: "";
  width: 0%;
  height: 1px;
  background-color: #ffffff;
  transition: 1.3s;
}
.main-header .main-header_top-block .top-block_wrapper .header-nav :hover.header-nav_btn {
  cursor: pointer;
}
.main-header .main-header_top-block .top-block_wrapper .header-nav :hover.header-nav_btn::after {
  width: 100%;
}
.main-header .main-header_top-block .top-block_wrapper .main-header_social {
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
}
.main-header .main-header_top-block .top-block_wrapper .main-header_social .link-tel {
  margin-right: 24px;
}
.main-header .main-header_top-block .top-block_wrapper .main-header_social .social_link {
  display: inline-block;
  width: 26px;
  height: 26px;
  padding-top: 3px;
  background-image: url(../../img/sprite/sprite-9aaabdc7.svg);
  background-position: 1px 1px;
}
.main-header .main-header_top-block .top-block_wrapper .main-header_social .social_link:not(:last-child) {
  margin-right: 16px;
}
.main-header .main-header_top-block .top-block_wrapper .main-header_social .social_link:hover {
  scale: 1.3;
}
.main-header .main-header_top-block .top-block_wrapper .main-header_social .link-vk {
  background-position: -20px 45px;
}
.main-header .main-header_top-block .top-block_wrapper .main-header_social .link-ig {
  background-position: -233px 119px;
}
.main-header .main-header_top-block .top-block_wrapper .main-header_social .link-tg {
  background-position: -233px 178px;
}
.main-header .main-header_intro .intro_title {
  padding-top: 10rem;
  padding-bottom: 2.5rem;
}
.main-header .main-header_intro .intro_text {
  padding-bottom: 3.5rem;
  font-family: "Circe Rounded";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 130%;
}
.main-header .main-header_intro .intro_btn {
  position: relative;
  max-width: 34.73%;
  margin-bottom: 24.3rem;
  padding: 0.75rem 6.875rem;
  padding-left: 9.375rem;
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  color: #ffffff;
  background-color: #2d0061;
  border: none;
  border-radius: 50px;
  box-shadow: 2px 5px rgba(25, 3, 51, 0.9);
}
.main-header .main-header_intro .intro_btn:active {
  transform: translate(2px, 5px);
  box-shadow: 0 0 #4a815a;
}
.main-header .main-header_intro .intro_btn:hover {
  cursor: pointer;
}
.main-header .main-header_intro .intro_btn::before {
  position: absolute;
  left: 111px;
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(../../img/sprite/sprite-9aaabdc7.svg);
  background-position: -92px -18px;
}
.main-content .features {
  background-color: #FFF0CB;
  color: #2d0061;
}
.main-content .features .features_title {
  padding: 7.5rem 0;
  text-align: center;
}
.main-content .features .features_wrapper-content {
  padding-bottom: 7.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main-content .features .features_wrapper-content .content-block {
  width: 30%;
}
.main-content .features .features_wrapper-content .content-block:not(:nth-child(3n)) {
  margin-right: 2.5rem;
}
.main-content .features .features_wrapper-content .content-block .content-block_img {
  margin: 0 auto;
}
.main-content .features .features_wrapper-content .content-block .content-block_text {
  text-align: center;
}
.main-content .groups {
  background-color: #6D3EA2;
  border-bottom: 1px solid transparent;
}
.main-content .groups .groups_title {
  padding: 7.5rem 0;
  text-align: center;
}
.main-content .groups .groups-card {
  position: relative;
  max-width: 56.45%;
  border-radius: 20px;
  background-color: #2d0061;
}
.main-content .groups .groups-card:nth-child(odd) {
  margin-left: auto;
}
.main-content .groups .groups-card:not(:last-child) {
  margin-bottom: 1.5rem;
}
.main-content .groups .groups-card:last-child {
  margin-bottom: 7.5rem;
}
.main-content .groups .groups-card .groups-card_content {
  max-width: 62.97%;
  padding-top: 3rem;
  padding-left: 3rem;
  padding-bottom: 3.375rem;
}
.main-content .groups .groups-card .groups-card_content::after {
  position: absolute;
  right: 32px;
  bottom: 24px;
  content: "";
  display: block;
  width: 121px;
  height: 121px;
}
.main-content .groups .first-card {
  background-image: url(../img/group_el_bottom.svg);
  background-repeat: no-repeat;
  background-position: 237px bottom;
}
.main-content .groups .first-card .groups-card_content::after {
  background-image: url(../../img/baer_groups.png);
}
.main-content .groups .second-card {
  background-image: url(../img/group_el_top.svg);
  background-repeat: no-repeat;
  background-position: 24px top;
}
.main-content .groups .second-card .groups-card_content::after {
  background-image: url(../../img/joy_groups.png);
}
.main-content .info {
  background-color: #00B0FF;
}
.main-content .info .info-block {
  display: flex;
  justify-content: space-between;
}
.main-content .info .info-block .info-block_title {
  position: relative;
  padding-top: 2rem;
  padding-left: 5rem;
  width: 33%;
}
.main-content .info .info-block .info-block_title::before {
  position: absolute;
  top: 44px;
  left: 0;
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-image: url(../../img/head_groups.png);
}
.main-content .info .info-block .info-block_text {
  width: 30%;
}
.main-content .coach {
  background-color: #FFF0CB;
  color: #2d0061;
  background-image: url(../img/coach_bg_circle.png);
  background-repeat: no-repeat;
  background-position: 100% 5%;
}
.main-content .coach .coach-slider .coach-slider_slides .coach-slider_slide .coach_title {
  padding: 7.5rem 0;
  text-align: center;
}
.main-content .coach .coach-slider .coach-slider_slides .coach-slider_slide .coach_content-wrapper {
  display: flex;
  padding-bottom: 11.3125rem;
}
.main-content .coach .coach-slider .coach-slider_slides .coach-slider_slide .coach_content-wrapper .coach_content .tabs-wrapper {
  max-width: 100%;
}
.main-content .coach .coach-slider .coach-slider_slides .coach-slider_slide .coach_content-wrapper .coach_content .tabs-wrapper .tabs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.main-content .coach .coach-slider .coach-slider_slides .coach-slider_slide .coach_content-wrapper .coach_content .tabs-wrapper .tabs .tabs_input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.main-content .coach .coach-slider .coach-slider_slides .coach-slider_slide .coach_content-wrapper .coach_content .tabs-wrapper .tabs .label-tab {
  position: relative;
  display: block;
  max-width: 195px;
  min-height: 52px;
  margin-top: 2rem;
  margin-bottom: 3.25rem;
  padding: 0.75rem 1.5rem;
  padding-left: 3.625rem;
  font-family: "Circe Rounded";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  background-color: #FFE197;
  border-radius: 8px;
}
.main-content .coach .coach-slider .coach-slider_slides .coach-slider_slide .coach_content-wrapper .coach_content .tabs-wrapper .tabs .label-tab:first-of-type {
  margin-right: 0.75rem;
}
.main-content .coach .coach-slider .coach-slider_slides .coach-slider_slide .coach_content-wrapper .coach_content .tabs-wrapper .tabs .label-tab::before {
  position: absolute;
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  left: 14%;
}
.main-content .coach .coach-slider .coach-slider_slides .coach-slider_slide .coach_content-wrapper .coach_content .tabs-wrapper .tabs .label-tab-achieve::before {
  background-image: url(../../img/sprite/sprite-9aaabdc7.svg);
  background-position: 60% 56%;
}
.main-content .coach .coach-slider .coach-slider_slides .coach-slider_slide .coach_content-wrapper .coach_content .tabs-wrapper .tabs .label-tab-education::before {
  background-image: url(../../img/sprite/sprite-9aaabdc7.svg);
  background-position: 34% 54%;
}
.main-content .coach .coach-slider .coach-slider_slides .coach-slider_slide .coach_content-wrapper .coach_content .tabs-wrapper .tabs .tabs-content {
  width: 100%;
  display: none;
}
.main-content .coach .coach-slider .coach-slider_slides .coach-slider_slide .coach_content-wrapper .coach_content .tabs-wrapper .tabs #alAch:checked ~ label[for='alAch'],
.main-content .coach .coach-slider .coach-slider_slides .coach-slider_slide .coach_content-wrapper .coach_content .tabs-wrapper .tabs #alEdu:checked ~ label[for='alEdu'] {
  background-color: #2d0061;
  color: #ffffff;
}
.main-content .coach .coach-slider .coach-slider_slides .coach-slider_slide .coach_content-wrapper .coach_content .tabs-wrapper .tabs #alAch:checked ~ .tabs-content-achieve-alAch,
.main-content .coach .coach-slider .coach-slider_slides .coach-slider_slide .coach_content-wrapper .coach_content .tabs-wrapper .tabs #alEdu:checked ~ .tabs-content-education-alEdu {
  display: block;
}
.main-content .coach .coach-slider .coach-slider_slides .coach-slider_slide .coach_content-wrapper .coach_content .tabs-wrapper .tabs #yaAch:checked ~ label[for='yaAch'],
.main-content .coach .coach-slider .coach-slider_slides .coach-slider_slide .coach_content-wrapper .coach_content .tabs-wrapper .tabs #yaEdu:checked ~ label[for='yaEdu'] {
  background-color: #2d0061;
  color: #ffffff;
}
.main-content .coach .coach-slider .coach-slider_slides .coach-slider_slide .coach_content-wrapper .coach_content .tabs-wrapper .tabs #yaAch:checked ~ .tabs-content-achieve-yaAch,
.main-content .coach .coach-slider .coach-slider_slides .coach-slider_slide .coach_content-wrapper .coach_content .tabs-wrapper .tabs #yaEdu:checked ~ .tabs-content-education-yaEdu {
  display: block;
}
.main-content .coach .coach-slider .coach-slider_button-prev,
.main-content .coach .coach-slider .coach-slider_button-next {
  width: 80px;
  height: 80px;
  background-color: #6D3EA2;
  border-radius: 50%;
  border: none;
}
.main-content .coach .coach-slider .coach-slider_button-prev:hover,
.main-content .coach .coach-slider .coach-slider_button-next:hover {
  background-color: #FFE197;
}
.main-content .coach .coach-slider .coach-slider_button-prev {
  left: 40px;
}
.main-content .coach .coach-slider .coach-slider_button-prev::after {
  content: url(../img/hand_left_slider.svg);
}
.main-content .coach .coach-slider .coach-slider_button-next {
  right: 40px;
}
.main-content .coach .coach-slider .coach-slider_button-next::after {
  content: url(../img/hand_right_slider.svg);
}
.main-content .sport-form {
  min-height: 1343px;
  background-image: url(../img/BG_form.jpg);
  background-size: cover;
}
.main-content .sport-form .sport-form_content {
  position: relative;
  left: 63%;
  padding-top: 10rem;
  width: 50%;
}
.main-content .sport-form .sport-form_content .sport-form_title {
  display: block;
  width: 90%;
  padding-top: 4.375rem;
  padding-left: 4.375rem;
  padding-bottom: 7rem;
  background-image: url(../../img/BG_blob.png);
  background-repeat: no-repeat;
}
.main-content .sport-form .sport-form_content .sport-form_text {
  width: 90%;
  padding-top: 5.625rem;
  padding-left: 4.375rem;
}
.main-content .sport-form .sport-form_content .sport-form_price {
  display: block;
  padding-top: 3.125rem;
  padding-left: 4.375rem;
  font-family: "Circe Rounded";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 130%;
}
.main-content .feedback {
  background-image: url(../../img/BG_feeback.png);
  background-size: 100%;
  background-position-y: -8%;
  color: #6D3EA2;
}
.main-content .feedback .feedback_title {
  padding: 7.5rem 0;
  text-align: center;
}
.main-content .feedback .feedback_cards-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 12.5rem;
}
.main-content .feedback .feedback_cards-wrapper .feedback_card {
  flex-basis: 48%;
  margin-bottom: 2.5rem;
  padding: 1.5rem 2rem;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid #ccc;
}
.main-content .feedback .feedback_cards-wrapper .feedback_card .feedback_card-text {
  padding-bottom: 2rem;
}
.main-content .feedback .feedback_cards-wrapper .feedback_card .feedback_card-autor {
  display: flex;
  align-items: center;
}
.main-content .feedback .feedback_cards-wrapper .feedback_card .feedback_card-autor .card-autor_img {
  margin-right: 1.5rem;
}
.main-content .feedback .feedback_cards-wrapper .feedback_card .feedback_card-autor .card-autor_content .autor_content-name {
  margin: 0;
  padding-bottom: 0.5rem;
}
.main-content .feedback .feedback_cards-wrapper .feedback_card .feedback_card-autor .card-autor_content .autor_content-text {
  font-size: 1.125rem;
  line-height: 1.125rem;
}
.main-content .feedback .feedback-slider .feedback-slider_button-prev,
.main-content .feedback .feedback-slider .feedback-slider_button-next {
  width: 80px;
  height: 80px;
  top: 40%;
  background-color: #6D3EA2;
  border-radius: 50%;
  border: none;
}
.main-content .feedback .feedback-slider .feedback-slider_button-prev:hover,
.main-content .feedback .feedback-slider .feedback-slider_button-next:hover {
  background-color: #FFE197;
}
.main-content .feedback .feedback-slider .feedback-slider_button-prev {
  left: 40px;
}
.main-content .feedback .feedback-slider .feedback-slider_button-prev::after {
  content: url(../img/hand_left_slider.svg);
}
.main-content .feedback .feedback-slider .feedback-slider_button-next {
  right: 40px;
}
.main-content .feedback .feedback-slider .feedback-slider_button-next::after {
  content: url(../img/hand_right_slider.svg);
}
.main-content .price-shcool {
  background-image: url(../img/BG_price.png);
  background-position: 70% 0;
}
.main-content .price-shcool .price-shcool_title {
  padding: 7.5rem 0;
  text-align: center;
  color: #2d0061;
}
.main-content .price-shcool .price-shcool_cards-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-content .price-shcool .price-shcool_cards-wrapper .price-shcool_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 31.27%;
  min-height: 470px;
  border-radius: 40px;
  background-color: #6D3EA2;
}
.main-content .price-shcool .price-shcool_cards-wrapper .price-shcool_card:nth-child(2n) {
  background-color: #FFE197;
  color: #2d0061;
}
.main-content .price-shcool .price-shcool_cards-wrapper .price-shcool_card:nth-child(3n) {
  background-color: #C94336;
}
.main-content .price-shcool .price-shcool_cards-wrapper .price-shcool_card:not(:last-child) {
  margin-right: 2.5rem;
}
.main-content .price-shcool .price-shcool_cards-wrapper .price-shcool_card .price-shcool_card-title {
  margin-top: 20px;
  margin-bottom: 22px;
}
.main-content .price-shcool .price-shcool_cards-wrapper .price-shcool_card .price-shcool_card-training {
  padding-bottom: 7rem;
}
.main-content .price-shcool .price-shcool_cards-wrapper .price-shcool_card .price-shcool_card-price {
  font-family: "Circe Rounded";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 130%;
}
.main-content .price-shcool .price-shcool_button {
  position: relative;
  display: block;
  min-width: 31.27%;
  margin: 4rem auto 1.5rem;
  padding: 0.75rem 0;
  padding-left: 2.5rem;
  background-color: #7DCE94;
  color: #ffffff;
  font-family: 'Circe Rounded';
  font-size: 1.5rem;
  border: none;
  outline: none;
  border-radius: 50px;
  box-shadow: 2px 5px #4a815a;
}
.main-content .price-shcool .price-shcool_button::before {
  position: absolute;
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  left: 20%;
  background-image: url(../img/sprite/sprite-9aaabdc7.svg);
  background-position: -21px -21px;
}
.main-content .price-shcool .price-shcool_button:active {
  transform: translate(2px, 5px);
  box-shadow: 0 0 #4a815a;
}
.main-content .price-shcool .price-shcool_button:hover {
  cursor: pointer;
}
.main-content .price-shcool .price-shcool_offer {
  display: block;
  min-width: 31.27%;
  padding-bottom: 4rem;
  text-align: center;
  color: #7DCE94;
}
.main-content .cafe {
  position: relative;
  background-image: url(../../img/cafe.jpg);
  background-size: cover;
}
.main-content .cafe .cafe_title {
  padding: 7.5rem 0 27.5rem;
  text-align: center;
}
.main-content .cafe .cafe-slider {
  margin: 0 25rem;
  padding-bottom: 5rem;
}
.main-content .cafe .cafe-slider .cafe-slider-sledes .cafe-slider-slide {
  position: relative;
  min-height: 296px;
  background-color: #2d0061;
  border-radius: 20px;
}
.main-content .cafe .cafe-slider .cafe-slider-sledes .cafe-slider-slide .cafe-slider-slide_title {
  padding: 3rem 3rem 0.75rem;
}
.main-content .cafe .cafe-slider .cafe-slider-sledes .cafe-slider-slide .cafe-slider-slide_text {
  max-width: 62.97%;
  padding-left: 3rem;
  padding-bottom: 1rem;
}
.main-content .cafe .cafe-slider .cafe-slider-sledes .cafe-slider-slide .cafe-slider-slide_img {
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
}
.main-content .cafe .cafe-slider_button-prev,
.main-content .cafe .cafe-slider_button-next {
  width: 80px;
  height: 80px;
  top: 75%;
  background-color: #6D3EA2;
  border-radius: 50%;
  border: none;
}
.main-content .cafe .cafe-slider_button-prev:hover,
.main-content .cafe .cafe-slider_button-next:hover {
  background-color: #FFE197;
}
.main-content .cafe .cafe-slider_button-prev {
  left: 40px;
}
.main-content .cafe .cafe-slider_button-prev::after {
  content: url(../img/hand_left_slider.svg);
}
.main-content .cafe .cafe-slider_button-next {
  right: 40px;
}
.main-content .cafe .cafe-slider_button-next::after {
  content: url(../img/hand_right_slider.svg);
}
.main-content .photo-slider .photo-slider-slides .photo-slider-slide .photo-slider-slide_content {
  position: relative;
}
.main-content .photo-slider .photo-slider-slides .photo-slider-slide .photo-slider-slide_content .photo-slider-slide_content-title {
  position: absolute;
  top: 5.875rem;
  left: 4.75rem;
  z-index: 0;
}
.main-content .photo-slider .photo-slider-slides .photo-slider-slide .photo-slider-slide_content .photo-slider-slide_content-title::before {
  position: absolute;
  top: -2.8125rem;
  left: -2.1875rem;
  content: "";
  display: block;
  width: 300px;
  height: 235px;
  background-image: url(../img/BG_blob_photos.png);
  z-index: -1;
}
.main-content .photo-slider .photo-slider_button-prev,
.main-content .photo-slider .photo-slider_button-next {
  width: 80px;
  height: 80px;
  top: 40%;
  background-color: #6D3EA2;
  border-radius: 50%;
  border: none;
}
.main-content .photo-slider .photo-slider_button-prev:hover,
.main-content .photo-slider .photo-slider_button-next:hover {
  background-color: #FFE197;
}
.main-content .photo-slider .photo-slider_button-prev {
  left: 40px;
}
.main-content .photo-slider .photo-slider_button-prev::after {
  content: url(../img/hand_left_slider.svg);
}
.main-content .photo-slider .photo-slider_button-next {
  right: 40px;
}
.main-content .photo-slider .photo-slider_button-next::after {
  content: url(../img/hand_right_slider.svg);
}
.main-content .learning {
  background-color: #6D3EA2;
}
.main-content .learning .learning-title {
  padding: 7.5rem 0;
  text-align: center;
}
.main-content .learning .learning-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 10rem;
}
.main-content .learning .learning-wrapper .learning_img {
  border-radius: 20px;
}
.main-content .learning .learning-wrapper .learning_content {
  padding-left: 2.5rem;
  font-size: 1.25rem;
  line-height: 1.25rem;
}
.main-content .learning .learning-wrapper .learning_content .learning_content-text {
  padding-bottom: 2rem;
}
.main-content .learning .learning-wrapper .learning_content .learning_content-link {
  position: relative;
  display: block;
  padding-left: 4rem;
}
.main-content .learning .learning-wrapper .learning_content .learning_content-link::before {
  position: absolute;
  top: -30%;
  left: 0;
  content: "";
  display: block;
  width: 48px;
  height: 48px;
}
.main-content .learning .learning-wrapper .learning_content .learning_content-link:not(:last-child) {
  padding-bottom: 1.75rem;
}
.main-content .learning .learning-wrapper .learning_content .learning_content-link:hover {
  color: #FFE197;
}
.main-content .learning .learning-wrapper .learning_content .phone-link::before {
  background-image: url(../../img/tel.png);
}
.main-content .learning .learning-wrapper .learning_content .email-link::before {
  background-image: url(../../img/mess.png);
}
.footer {
  background-color: #2d0061;
}
.footer .footer-wrapper {
  display: flex;
  justify-content: center;
  padding: 4rem 0 3.5rem;
}
.footer .footer-wrapper .footer_content {
  margin-right: 3rem;
  padding-top: 1rem;
}
.footer .footer-wrapper .footer_content .footer_content-question {
  position: relative;
  display: flex;
  padding-bottom: 2.5rem;
}
.footer .footer-wrapper .footer_content .footer_content-question::before {
  position: absolute;
  top: -20%;
  left: -4rem;
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  background-image: url(../img/quest.png);
}
.footer .footer-wrapper .footer_content .footer_content-question .question-btn {
  position: relative;
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
}
.footer .footer-wrapper .footer_content .footer_content-question .question-btn::after {
  position: absolute;
  bottom: 0.2rem;
  display: block;
  content: "";
  width: 90%;
  height: 1px;
  background-color: #ffffff;
}
.footer .footer-wrapper .footer_content .footer_content-question .question-btn:hover {
  cursor: pointer;
}
.footer .footer-wrapper .footer_content .footer_content-link {
  display: block;
  position: relative;
  padding-bottom: 2.5rem;
}
.footer .footer-wrapper .footer_content .footer_content-link::before {
  position: absolute;
  left: -4rem;
  content: "";
  display: block;
  width: 48px;
  height: 48px;
}
.footer .footer-wrapper .footer_content .phone-link::before {
  top: -15%;
  background-image: url(../img/tel.png);
}
.footer .footer-wrapper .footer_content .email-link::before {
  top: -15%;
  background-image: url(../img/mess.png);
}
.footer .footer-wrapper .footer_content .footer_worktime {
  position: relative;
  padding-bottom: 2.5rem;
  line-height: 1.25rem;
}
.footer .footer-wrapper .footer_content .footer_worktime::before {
  position: absolute;
  top: -15%;
  left: -4rem;
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  background-image: url(../img/clock.png);
}
.footer .footer-wrapper .footer_content .footer_btn {
  position: relative;
  display: block;
  min-width: 344px;
  margin-left: -4rem;
  padding: 0.75rem 0;
  padding-left: 2.5rem;
  background-color: #7DCE94;
  color: #ffffff;
  font-family: 'Circe Rounded';
  font-size: 1.5rem;
  border: none;
  outline: none;
  border-radius: 50px;
  box-shadow: 2px 5px #4a815a;
}
.footer .footer-wrapper .footer_content .footer_btn::before {
  position: absolute;
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  left: 20%;
  background-image: url(../img/sprite/sprite-9aaabdc7.svg);
  background-position: -21px -21px;
}
.footer .footer-wrapper .footer_content .footer_btn:active {
  transform: translate(2px, 5px);
  box-shadow: 0 0 #4a815a;
}
.footer .footer-wrapper .footer_content .footer_btn:hover {
  cursor: pointer;
}
.footer .footer_adress {
  padding-bottom: 3.5rem;
  text-align: center;
  font-weight: 700;
}
.footer .footer_adress .footer_adress-span {
  color: #FFE197;
}
