// --fonts--
@font-face {
  font-family: 'Circe Rounded';
  src:url('../../fonts/CirceRounded-Regular4.woff2') format('woff2'),
      url('../../fonts/CirceRounded-Regular4.woff') format('woff'),
}

@font-face {
  font-family: 'Circe Rounded5';
  src:url('../../fonts/CirceRounded-Regular5.woff2') format('woff2'),
      url('../../fonts/CirceRounded-Regular5.woff') format('woff'),
}
// --/fonts--


// --text--
html {
  font-size: 16px;
}

body {
  font-family: "Circe Rounded5" ;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  color: @white;
}

h1 {
  font-family: "Circe Rounded" ;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 64px;
}
h2 {
  font-family: "Circe Rounded" ;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 64px;
}
h3 {
  font-family: "Circe Rounded" ;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 100%;
}
h4 {
  font-family: "Circe Rounded" ;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 130%;
}
h5 {
  font-family: "Circe Rounded" ;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
}

.subheader {
  font-family: "Circe Rounded" ;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 130%;
}
// --/text--

// --ColorStyle--
@purple: #6D3EA2;
@green: #7DCE94;
@blue: #00B0FF;
@beige: #FFE197;
@red:  #C94336;
@darkIndigo:  #2d0061;
@white:  #ffffff;
@grey:  #B0B0B0;
@beigeBG:  #FFF0CB;
// --/ColorStyle--

//--auxiliary classes--
@mobile: 320px;
@tablet: 767px;
@laptop: 1024px;
@desktop: 1170px;

body {
  max-width: 1920px;
}


.container {
  max-width: 58%;
  margin: 0 auto;
}

          // border: 1px solid #fff;
//--/auxiliary classes--

@media (min-width: @desktop) and (max-width: 1700px) {
  .container {
    max-width: 80%;
  }
}