.main-content {
  .coach {
    background-color: @beigeBG;
    color: @darkIndigo;
    background-image: url(../img/coach_bg_circle.png);
    background-repeat: no-repeat;
    background-position: 100% 5%;
    .coach-slider {
      .coach-slider_slides {
        .coach-slider_slide {
          .coach_title {
            padding: 7.5rem 0;
            text-align: center;
          }
          .coach_content-wrapper {
            display: flex;
            padding-bottom: 11.3125rem;
            .coach_content {
              .tabs-wrapper {
                max-width: 100%;
                .tabs {
                  position: relative;
                  display: flex;
                  flex-wrap: wrap;
                  .tabs_input {
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                  }
                  .label-tab {
                    position: relative;
                    display: block;
                    max-width: 195px;
                    min-height: 52px;
                    margin-top: 2rem;
                    margin-bottom: 3.25rem;
                    padding: 0.75rem  1.5rem;
                    padding-left: 3.625rem;
                    font-family: "Circe Rounded" ;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 140%;
                    background-color: @beige;
                    border-radius: 8px;
                    &:first-of-type {
                      margin-right: 0.75rem;
                    }
                    &::before {
                      position: absolute;
                      content: "";
                      display: block;
                      width: 24px;
                      height: 24px;
                      left: 14%;
                    }
                  }
                  .label-tab-achieve {
                    &::before {
                      background-image: url(../../img/sprite/sprite-9aaabdc7.svg);
                      background-position: 60% 56%;
                    }
                  }
                  .label-tab-education {
                    &::before {
                      background-image: url(../../img/sprite/sprite-9aaabdc7.svg);
                      background-position: 34% 54%;
                    }
                  }
                  .tabs-content {
                    width: 100%;
                    display: none;
                  }
                  #alAch:checked ~ label[for='alAch'],
                  #alEdu:checked ~ label[for='alEdu'] {
                    background-color: @darkIndigo;
                    color: @white;
                  }
                  #alAch:checked ~ .tabs-content-achieve-alAch,
                  #alEdu:checked ~ .tabs-content-education-alEdu {
                    display: block;
                  }
                  #yaAch:checked ~ label[for='yaAch'],
                  #yaEdu:checked ~ label[for='yaEdu'] {
                    background-color: @darkIndigo;
                    color: @white;
                  }
                  #yaAch:checked ~ .tabs-content-achieve-yaAch,
                  #yaEdu:checked ~ .tabs-content-education-yaEdu {
                    display: block;
                  }
                }
              }
            }
          }
      
        }
      }
      .coach-slider_button-prev,
      .coach-slider_button-next {
        width: 80px;
        height: 80px;
        background-color: @purple;
        border-radius: 50%;
        border: none;
        &:hover {
          background-color: @beige;
        }
      }
      .coach-slider_button-prev {
        left: 40px;
        &::after {
          content: url(../img/hand_left_slider.svg);
        }
      }
      .coach-slider_button-next {
        right: 40px;
        &::after {
          content: url(../img/hand_right_slider.svg);
        }

      }
    }
  }
}