.main-content {
  .feedback {
    position: relative;
    color: @purple;
    background-image: url(../img/BG_feeback.png);
    background-position-y: -8%;
    background-size: 100%;

    .feedback_title {
      padding: 7.5rem 0;
      text-align: center;
    }

    .feedback_cards-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 12.5rem;

      .feedback_card {
        flex-basis: 48%;
        padding: 1.5rem 2rem;
        margin-bottom: 2.5rem;
        background-color: @white;
        border-radius: 20px;
        .bd();

        .feedback_card-text {
          padding-bottom: 2rem;
        }

        .feedback_card-autor {
          display: flex;
          align-items: center;

          .card-autor_img {
            margin-right: 1.5rem;
          }

          .card-autor_content {
            .autor_content-name {
              padding-bottom: 0.5rem;
              margin: 0;
            }

            .autor_content-text {
              font-size: 1.125rem;
              line-height: 1.125rem;
            }
          }
        }
      }
    }

    .feedback-slider {
      position: relative;
      overflow: hidden;

      .feedback-slider_button-prev,
      .feedback-slider_button-next {
        top: 40%;
        width: 80px;
        height: 80px;
        background-color: @purple;
        border: none;
        border-radius: 50%;

        &:hover {
          background-color: @beige;
        }
      }

      .feedback-slider_button-prev {
        left: 40px;

        &::after {
          content: url(../img/hand_left_slider.svg);
        }
      }

      .feedback-slider_button-next {
        right: 40px;

        &::after {
          content: url(../img/hand_right_slider.svg);
        }
      }
    }
  }
}

@media (min-width: @mobile) and (max-width: @tablet) {
  .main-content {
    .feedback {
      .feedback_title {
        padding: 2.5rem 0;
        font-size: 2rem;
        line-height: 32px;
        text-align: center;
      }

      .feedback_cards-wrapper {
        justify-content: center;
        padding-bottom: 2.5rem;

        .feedback_card {
          flex-basis: 100%;
          margin: 0 1.5rem;
          margin-bottom: 2.5rem;

          .feedback_card-text {
            padding-bottom: 2rem;
            font-size: 1rem;
            line-height: 120%;
            text-align: center;
          }

          .feedback_card-autor {
            .card-autor_content {
              .autor_content-name {
                font-size: 1rem;
              }

              .autor_content-text {
                font-size: 0.8rem;
                line-height: 120%;
              }
            }
          }
        }
      }

      .feedback-slider {
        .feedback-slider_button-prev,
        .feedback-slider_button-next {
          display: none;
        }
      }
    }
  }
}

@media (min-width: @tablet) and (max-width: @laptop) {
  .main-content {
    .feedback {
      .feedback_title {
        padding: 4rem 0;
        line-height: 32px;
        text-align: center;
      }

      .feedback_cards-wrapper {
        padding-bottom: 2.5rem;

        .feedback_card {
          padding: 1rem;
          margin: 0;
          margin-bottom: 1.5rem;

          .feedback_card-text {
            padding-bottom: 2rem;
            font-size: 1.1rem;
            line-height: 120%;
            text-align: center;
          }

          .feedback_card-autor {
            .card-autor_content {
              .autor_content-name {
                font-size: 1.2rem;
                line-height: 1;
              }

              .autor_content-text {
                font-size: 0.8rem;
                line-height: 120%;
              }
            }
          }
        }
      }

      .feedback-slider {
        .feedback-slider_button-prev,
        .feedback-slider_button-next {
          display: none;
        }
      }
    }
  }
}
