.main-content {
  .sport-form {
    min-height: 1343px;
    background-image: url(../img/BG_form.jpg);
    background-size: cover;
    .sport-form_content {
      position: relative;
      left: 63%;
      padding-top: 10rem;
      width: 50%;
      .sport-form_title {
        display: block;
        width: 90%;
        padding-top: 4.375rem;
        padding-left: 4.375rem;
        padding-bottom: 7rem;
        background-image: url(../../img/BG_blob.png);
        background-repeat: no-repeat;
      }
      .sport-form_text {
        width: 90%;
        padding-top: 5.625rem;
        padding-left: 4.375rem;
      }
      .sport-form_price {
        display: block;
        padding-top: 3.125rem;
        padding-left: 4.375rem;
        font-family: "Circe Rounded" ;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 130%;
      }
    }
  }
}